<h2>Task-1</h2>
<p    appMyShadow> Attribute Custom Directive Text </p>	
<p    [appMyShadow]=" 'Blue' ">Attribute Custom Directive Text </p>
<p    [appMyShadow]=" 'Green' ">Attribute Custom Directive Text </p>

<br><br>
<hr>

<h2>Task- 2</h2>

<div   *adminPanel=" 'Scott' ">
    This content is for Scott Admin
</div><br>
    
<div   *adminPanel=" 'Smith' ">
    This content is for Smith Admin
</div><br>

<div   *adminPanel=" 'Sam' ">
    This content is for Sam
</div><br>

<div   *adminPanel=" 'Robert' ">
    This content is for Robert Admin
</div><br>

<div   *adminPanel=" 'Ankit' ">
    This content is for Ankit 
</div><br>
