<head>
    <style>  
        table, th, td {  
          border: 1px solid black;  
        }  
        </style> 
</head>
<table border="1">
    <tr>
      <td>Employee Id </td>
      <td>{{eid}}</td>
    </tr>
    <tr>
      <td>Employee Name</td>
      <td>{{ename}}</td>
    </tr>
    <tr>
      <td>Employee Job</td>
      <td>{{ejob}}</td>
    </tr>
    <tr>
      <td>Employee Salary</td>
      <td>{{esal}}</td>
    </tr>
    <tr>
      <td>Employee Depo </td>
      <td>{{edepo}}</td>
    </tr>
</table>


  <img src={{ImagePath}} style="height: 100px; width: 100px;">
