<!-- Interpolation -->
<!-- <h1>Welcome to Angular Project</h1> -->

<!-- <app-emp></app-emp> -->

<!-- <app-techstack></app-techstack>  -->

<!-- <app-totalprice></app-totalprice> -->
<!-- <app-product></app-product>  -->
<!-- <app-child [uname]=" uname1 "></app-child> -->
<!-- 
<app-productlist [category]=" 'TV' "></app-productlist>
<app-productlist [category]=" 'Mobile' "></app-productlist> -->
<!-- <app-child (onIdSelect)="IdSelect()" (onNameSelect)="NameSelect()" (onPriceSelect)="PriceSelect()" (onCatSelect)="CatSelect()" (onQtySelect)="QtySelect()"></app-child>

<app-parent [tosort]="flag"></app-parent> -->
<!-- <app-switch-directive></app-switch-directive> -->
<!-- <h1>Splice</h1> -->
<!-- <app-splice-ex></app-splice-ex> -->
<!-- <h2>Custom Pipe</h2>  -->
<!-- <app-custompipe></app-custompipe> -->

<!-- <app-custompipe-filteremp></app-custompipe-filteremp> -->
<!-- <app-server-comm-crud></app-server-comm-crud> -->
<!-- <app-product></app-product> -->

<!-- <app-server-comm-crud-services></app-server-comm-crud-services> -->
<!-- <app-login></app-login> -->

<!-- <app-modeldrivenform></app-modeldrivenform> -->
<!-- <app-attibutecustdircomp></app-attibutecustdircomp> -->

<h3 align="center">Working with Routes in Angular</h3>
<hr/>
<div style="text-align: center;">
  <a [routerLink]=" ['/'] ">Home</a>  |
  <a [routerLink]=" ['/Emps'] ">Employees</a>  |
  <a [routerLink]=" ['/Depts'] ">Departments</a> |
  <a [routerLink]=" ['/Aboutus'] ">About Us</a> |
  <a [routerLink]=" ['/Register'] ">Register</a> |
  <a [routerLink]=" ['/Login'] ">Login</a> |
  <a href="" (click)="logout()">Logout</a> 

</div>

<hr/>

<router-outlet></router-outlet>

