<h3>Task-3</h3>
<style>
    .rectangle 
    {
        background-color: rgb(180, 179, 179);
        width: 250px;
        height: 150;
    }
    img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  </style>
  <table>
      <tr>
          <td>  <div class="rectangle">
            <img src={{angular}} style="height: 60px; width: 60px;padding-top: 10px;">
            <h3 style="text-align: center">Angular</h3>
            <p style="text-align: center"> Front-end development Framework</p>
          </div></td>

          <td>  <div class="rectangle">
            <img src={{aws}} style="height: 60px; width: 60px;padding-top: 10px;">
            <h3 style="text-align: center">AWS</h3>
            <p style="text-align: center"> Cloud Computing Platform</p>
          </div></td>

          <td>  <div class="rectangle">
            <img src={{git}} style="height: 60px; width: 60px;padding-top: 10px;">
            <h3 style="text-align: center">Git</h3>
            <p style="text-align: center">  Handle everything</p>
          </div></td> 
      </tr>

      
      <tr>
        <td>  <div class="rectangle">
          <img src={{html}} style="height: 60px; width: 60px;padding-top: 10px;">
          <h3 style="text-align: center">HTML</h3>
          <p style="text-align: center"> Front-end development Technology</p>
        </div></td>

        <td>  <div class="rectangle">
          <img src={{linux}} style="height: 60px; width: 60px;padding-top: 10px;">
          <h3 style="text-align: center">Linux</h3>
          <p style="text-align: center"> General-purpose Operating System</p>
        </div></td>

        <td>  <div class="rectangle">
          <img src={{node}} style="height: 60px; width: 60px;padding-top: 10px;">
          <h3 style="text-align: center">Node</h3>
          <p style="text-align: center"> Backend JS Enviroment</p>
        </div></td> 
    </tr>
  </table>
